[Unit]
Description=bcachefs automatic snapshot timer (every 15 minutes)

[Timer]
OnCalendar=*:00,15,30,45
Persistent=false
AccuracySec=1s

[Install]
WantedBy=timers.target
